
.bt_js{
    position: relative;
    content: "";
    top:0;
    left: 25%;
    display: flex;
    margin-top: 10%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    width: 800px;
}
.nav-link{
    width:100px;
}
.nav-pills{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.title {
    width: 100%;
    display: inline-table;
    margin: 20px 25% 0;
    align-items: center;}
.title span {
 font-size: 25px;
 margin : 10px 20px 0;
}
/* Bài 1  */
.item {
    display: flex;
    flex-wrap: wrap;
  align-content: space-between;
}

.btn-b1 {
width :120px;
border-radius: 17px;
}
.col-xs-4{
    width: 90px;
}
.xuat{
    width:38em;
}
/* Bài 1  */
/* Bài 2  */
.item-bt2{
    display: flex;
}

.btn-b2{
    width :120px;
    border-radius: 17px
}
.xuat2{
    width:30em;
}

/* Bài 2  */